XSD/Prácticas/algo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="prueba" type="xs:string" fixed="esto es una prueba"/>
    <xs:element name="pruebaComplejos">
        <xs:complexType>
            <xs:attribute name="dummy"/>
            <xs:attribute name="dummy2"/>
        </xs:complexType>
    </xs:element>
        
</xs:schema>